html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --arrowsColor: rgb(54, 51, 51);
}

body {
    background-image: url('imgs/background.jpg');
    background-size: cover;

    font-family: 'Permanent Marker', cursive;
    position: relative;
    height: 96vh;

    overflow: hidden;
}

    .sub-back {
        
        height: 100vh;
        width: 100vw;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.836);
    }

    header h1 {

        text-align: center;
        font-size: 3em;
        letter-spacing: 6px;
        color: rgba(19, 18, 18, 0.781);
        text-shadow: rgba(240, 255, 240, 0.568) 3px 3px 3px;
        
        background-color: rgba(0, 0, 0, 0.274);
        border-radius: 3px;

        width: 54%;
        margin: 0 auto;
        margin-top: 1%;
        padding: 2%;

    }
        .fa-camera-retro {

            font-size: 36px;
            color: rgb(31, 30, 30);

            padding-left: 3%;
            padding-right: 3%;

            transition: 0.3s;
        }

            #cam {
                font-size: 1.8em;
            }
            .fa-camera-retro:hover {
                color: whitesmoke;
            }

    main {

        width: 90%;
        height: 75%;
        margin: 0 auto;
        margin-top: 3%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

        span { /*ARROWS*/
            font-size: 3em;
        }

        .fa-spinner {
            color:whitesmoke;
        }

        .button-foundGeo {
            z-index: 12;
        }
            .button-foundGeo button {

                width: 270px;
                padding: 5px;

                letter-spacing: 3px;
                font-weight: bold;
                text-transform: uppercase;

                background-color: rgb(207, 207, 207);
                border: 1px solid gray;
                border-radius: 6px;

                transition: 0.6s;
            }
            .button-foundGeo button:hover {

                border: 1px solid gray;
                background-color: rgb(32, 34, 34);
                color: rgb(197, 190, 190);
                cursor: pointer;
            }
        .arrows {
            width: 55%;
            margin: 0 auto;
            margin-bottom: 3%;
            display: flex;
            justify-content: space-evenly;

            z-index: 12;
        }
            .arrow {

                width: 35px;
                height: 35px;

                color: var(--arrowsColor);  

                transition: 0.3s;
            }
            .arrow:hover {
                cursor: pointer;
                color: whitesmoke;
            }

    .img-content {
        z-index: 12;
    }
    img {
        border: 2px solid black;
        max-height: 350px;
    }
        figcaption {
            color: whitesmoke;
        }

@media screen and (min-width: 768px) and (max-width: 920px) {

    body {
        background-image: url('imgs/backgroundMobile.jpg');
        background-size: cover;
    }
        header h1 {
            width: 75%;
        }
        .arrow {
            cursor: not-allowed;
            color: var(--arrowsColor);
        }

}
@media screen and (max-width: 639px) {

    body {
        background-image: url('imgs/backgroundMobile.jpg');
        background-size: cover;
    }

    header h1 {
        letter-spacing: 9px;
        font-size: 21px;

        width: 95%;
        margin-top: 3%;
    }
        .fa-camera-retro {
            font-size: 1.7em;
        }
    main {
        margin: 0 auto;
        margin-top: 9%;
        height: 72%;
    }
        .button-foundGeo button {
            width: 180px;
            font-size: 0.7em;
        }

        span { /*ARROWS*/
            font-size: 2em;
        }    
        .arrow:hover{
            cursor: not-allowed;
            color: var(--arrowsColor);
        }

        .img-content {
            height: 369px;
        }
            img {
                width: 93%;
                height: 81%;

                padding: 3%;
                padding-bottom: 12%;

                background: whitesmoke;
                border: 2px solid;
            }
                figcaption {
                    color: black;

                    position: absolute;
                    margin: 0 auto;
                    margin-left: 100px;
                    margin-top: -36px;
                }
}

@media screen and (max-width: 320px) {

    header h1 {
        font-size: 1.2em;
        margin-top: 9%;
    }

    main {
        margin-top: 0;
    }

    img {
        height: 270px;
        width: 270px;
        margin-bottom: 5px;
    }
        figcaption {
            margin-top: -34px;
            margin-left: 54px;
        }

    .button-foundGeo {
        margin-top: 100px;
    }
}